<html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<head>
	<ul class="nav nav-tabs">
  		<a class="navbar-brand" href="/index">SniffyDB</a>
		<!--<li role="presentation"><a href="/index">Home</a></li>-->
  		<li role="presentation"><a href="/view_page">View Data</a></li>
		<li role="presentation"><a href="/upload">Upload PCAP</a></li>
                <li role="presentation"><a href="/CLEAR">Clear Table</a></li>
	</ul>

    {% if title %}
    <title>{{ title }} - SniffyDB</title>
    {% else %}
    <title>SniffyDB</title>
    {% endif %}
  </head>
  <body>
    <!--
	<div>SniffyDB: <a href="/index">Home</a></div>
    <div>SniffyDB: <a href="/add_page">Add Data</a></div>
    <div>SniffyDB: <a href="/view_page">View Data</a></div>
    <div>SniffyDB: <a href="/search_page">Search Data</a></div>
    <div>SniffyDB: <a href="/edit_page">Edit Data</a></div>
    <div>SniffyDB: <a href="/delete_page">Delete Data</a></div>
    <div>SniffyDB: <a href="/upload">Upload PCAP</a></div>
    -->
	{% block content %}{% endblock %}
  </body>
</html>
