{% extends "base.html" %}
{% block content %}
<h1> Packet List </h1>
<table id="example" class="display" cellspacing="0" width="100%">
<thead>  
<tr>
    <th>Pcap ID</th>
    <th>PIN</th> 
    <th>Packet Time</th>
    <th>Source IP</th> 
    <th>Destination IP</th>
    <th>Protocol</th>
    <th>Tag</th>
    <th>Tagged IP</th>
  </tr>
</thead>
<tbody>
{% for entry in entries %}
<tr>
	<td> {{ entry.pcapid }} </td>
	<td> {{ entry.PIN }} </td>
	<td> {{ entry.packettime }} </td>
	<td> {{ entry.src }} </td>
	<td> {{ entry.dst }} </td>
	<td> {{ entry.protocol }} </td>
	<td> {{ entry.tag }} </td>
    <td> {{ entry.type }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script>
  $(document).ready(function() {
    var table = $('#example').DataTable();
     
    $('#example tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();
	var url_string = "/add_page?pcapid="+data[0]+"&pin="+data[1]+"&type="+data[7];
	if (data[6].length > 0)
	{
		url_string = "/edit_page?pcapid="+data[0]+"&pin="+data[1]+"&type="+data[7];
	}
        window.location.replace(url_string);
    } );
} );
</script>
{% endblock %}
