{% extends "base.html" %}
{% block content %}
<h1> Table List </h1>
<table style="width:100%">
  <tr>
    <th>PCAP file ID</th>
    <th>PIN</th> 
    <th>Time</th>
    <th>Sequence Number</th>
    <th>Source IP</th> 
    <th>Destination IP</th>
    <th>Protocol</th>
    <th>Length</th> 
    <th>Payload</th>
  </tr>
{% for entry in entries %}
<tr>
	<td> {{ entry.PcapID }} </td>
	<td> {{ entry.PIN }} </td>
	<td> {{ entry.time }} </td>
	<td> {{ entry.seqwindow }} </td>
	<td> {{ entry.src }} </td>
	<td> {{ entry.dst }} </td>
	<td> {{ entry.proto }} </td>
	<td> {{ entry.length }} </td>
	<td> {{ entry.payload }} </td>
</tr>
{% endfor %}
</table>
{% endblock %}
